html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 25px;
    padding-top: 40px
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    /* width: 100%;
    height: auto; */
    /* background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); */
    padding: 32px;
    border-radius: 10px;
    /* box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    /* transform: rotateY(0); */
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.no_match {
    cursor: default;
    background: #db0707;
    font-size: 33px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 660px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    /* padding: 0; */
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 19px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    /* float: right; */
    cursor: pointer;
    font-size: 19px;
}

#successImage {
    padding-top: 40px;
    height: auto;
    /* width: 90px; */
    padding-bottom: 15px;
}

#TryingNumber {
    color: #bd458c;
}

#closeBtn {
    float: right;
    font-weight: bold;
    font-size: 25px;
}

#congratulationImg {
    height: 30px;
    width: auto;
}

.fontStyle {
    font-family: cursive;
    font-size: medium;
}

@media (max-width: 442px) {
    .deck {
        width: 300px;
        height: auto;
    }
    .deck .card {
        height: 60px;
        width: 50px;
    }
    .score-panel {
        width: 300px;
        height: auto;
    }
    .score-panel .stars {
        font-size: 12px;
    }
    #timer {
        font-size: 14px;
    }
    .score-panel .restart {
        font-size: 12px;
    }
    #TryingNumber {
        font-size: 13px;
    }
    #subject {
        font-size: 1.6rem;
    }
    /* .modal-dialog {
        width: 90%;
    } */
}